<div class="card">
  <div class="head">
    <div class="members">
      <img
        src="../../assets/competitions/1-member-picture-small.png"
        alt="member-picture"
        class="member-profile-picture"
      />
      <img
        src="../../assets/competitions/2-member-picture-small.png"
        alt="member-picture"
        class="member-profile-picture"
      />
      <img
        src="../../assets/competitions/3-member-picture-small.png"
        alt="member-picture"
        class="member-profile-picture"
      />
      <p class="remaining-members-amount">18</p>
    </div>
    <p class="can-join-info">Too late to join</p>
  </div>
  <h2 class="card-title">Weekly Challenges</h2>
  <div class="best-users-cards">
    <div class="user-card">
      <img src="../../assets/competitions/1st-card.png" class="place-number" />
      <div class="profile-picture"></div>
      <div class="info">
        <h3 class="full-name">
          Roger Korsgaard
          <img
            src="../../assets/competitions/verified.svg"
            class="is-user-verified"
          />
        </h3>
        <div class="content">
          <div class="details">
            <div class="category">
              <p class="amount">20</p>
              <p class="title">Alerts</p>
            </div>
            <div class="category">
              <p class="amount">85%</p>
              <p class="title">Win Rate</p>
            </div>
            <div class="category">
              <p class="amount">11%</p>
              <p class="title">Yield</p>
            </div>
          </div>
          <div class="profit">
            <div class="raw">
              <p class="is-profitable">+</p>
              <p class="currency">$</p>
              <p class="value">7,500</p>
            </div>
            <p class="percentage">45%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="additional-info">
    <div class="first-place">
      <img
        width="24"
        height="24"
        src="../../assets/competitions/roger-k-small.png"
        class="profile-image"
      />
      <div class="additional-user-data">
        <div class="name">
          <p class="first-name">Roger</p>
          <p class="last-name-letter">K</p>
        </div>
        <p class="tag">@rog13k</p>
      </div>
    </div>
    <div class="prize">
      <img
        width="24"
        height="24"
        src="../../assets/competitions/additional-currency-img.svg"
        class="currency-image"
      />
      <div class="additional-coin-data">
        <div class="amount">20,000</div>
        <div class="tag">@xBits prize</div>
      </div>
    </div>
    <div class="amount-of-time">
      <p class="value">3</p>
      <div class="time">
        <p class="time-type">Days</p>
        <p class="time-state">past</p>
      </div>
    </div>
  </div>
  <button class="open-card">VIEW</button>
</div>
