.container {
  background-color: black;
  min-width: 100%;
  min-height: 100%;
  padding: 0 21px;
  padding-top: 21px;
  box-sizing: border-box;
  background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  .page-title {
    opacity: 50%;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin: 22px 0;
  }

  .competition-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

}

@media (min-width: 1100px) {
  .container {
    background-size: cover;
    min-height: 100vh;
  }
}