.container {
  background-color: black;
  min-width: 100%;
  min-height: 100%;
  padding: 0 21px;
  padding-top: 21px;

  .page-title {
    opacity: 50%;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin: 22px 0;
  }
}