:host {
  display: block;
}

* {
  display: flex;
}

p {
  line-height: 14px;
}

button {
  align-items: center;
}

.container {
  justify-content: space-between;

  .profile {
    gap: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    padding: 4px;

    &:active {
      background-color: gray;
      border-radius: 5px;
    }

    .user-info {
      align-items: start;
      flex-direction: column;
      gap: 6px;


      .name {
        font-size: 14px;
      }

      .resources {
        gap: 10px;
        font-size: 12px;

        .coins,
        .level {
          gap: 6px;
        }
      }
    }
  }

  .add-friends {
    transition: transform 0.3s ease-in-out;

    &:active {
      transform: scale(1.3);
    }
  }
}