<div class="members">
  <img
    src="../../assets/competitions/1-member-picture-small.png"
    alt="member-picture"
    class="member-profile-picture"
  />
  <img
    src="../../assets/competitions/2-member-picture-small.png"
    alt="member-picture"
    class="member-profile-picture"
  />
  <img
    src="../../assets/competitions/3-member-picture-small.png"
    alt="member-picture"
    class="member-profile-picture"
  />
  <p class="remaining-members-amount" *ngIf="membersAmount > 3">
    {{ membersAmount - 3 }}
  </p>
</div>
